<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../imagens-site/logo MB.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Musical Bridge</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!-- Bootstrap CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <!-- Gaia CSS -->
    <link href="../assets/css/gaia.css" rel="stylesheet"/>

    <!-- Fonts and Icons -->
    <link href="https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600" rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/../assets/css/font-awesome.min.css">
    <link href="../assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="/website/css/uicons-bold-rounded.css" rel="stylesheet">

    <!-- Bootstrap and Rotating Card CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/rotating-card.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://demos.creative-tim.com/material-dashboard-bs4/assets/css/material-dashboard.css">

    <!-- Roboto Font -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

    <!-- Nucleo Icons -->
    <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

    <!-- Material Dashboard CSS -->
    <link id="pagestyle" href="../assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />

    <!-- Nepcha Analytics -->
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>

    <!-- Custom Styles -->
    <style>
        h1 {
            font-family: 'Times New Roman', Times, serif;
            margin-top: -20px;
            color: rgba(243, 200, 57, 0.993);
            text-align: center;
        }

        #form-container {
            max-width: 500px;
            margin: 0 auto;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
        }

        .form-section {
            display: none;
        }

        .form-section.active {
            display: block;
        }

        .form-control {
            background-color: rgba(247, 206, 70, 0.849);
            border: none;
            flex: 1;
            padding: 10px;
            border-radius: 10px;
            color: black;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        .custom-nav {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .custom-button, .botaocadastro {
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 40px;
            width: 130px;
            transition: transform 0.2s ease-in-out;
        }

        .custom-button {
            background-color: #2071c8;
            color: #fff;
        }

        .botaocadastro {
            background-color: #7e57c2;
            color: #fff;
        }

        .custom-button:hover, .botaocadastro:hover {
            transform: scale(1.1);
        }

        .purple-input-label {
            color: #7e57c2;
        }

        .jatem {
            color: #5006cf;
        }

        @media (max-width: 768px) {
            #form-container {
                margin-left: auto;
                margin-right: auto;
                padding: 10px;
            }

            h1 {
                font-size: 1.5em;
                margin-top: 0;
            }

            .botaocadastro {
                width: 100%;
                padding: 10px;
                font-size: 1em;
            }

            .form-control {
                padding: 8px;
                font-size: 1em;
            }

            .container-fluid {
                padding: 0 15px;
            }

            .col-6, .col-4 {
                padding: 0;
            }

            .col-6 img {
                margin-left: 0;
                width: 100%;
            }

            .text-center {
                text-align: center;
            }

            .buttons-container {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .buttons-container .mb-2 {
                width: 100%;
            }

            .buttons-container .botaocadastro {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent navbar-fixed-top">
        <div class="container">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="logo navbar-brand" href="home.ejs" style="color: rgb(218, 160, 14); font-size: 2em;">Musical-Bridge</a>

            <div class="collapse navbar-collapse justify-content-center" id="example">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="home.ejs" style="color: rgb(218, 160, 14); font-weight: bolder;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="musicos.ejs" style="color: rgb(218, 160, 14); font-weight: bolder;">Musicos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="eventos.ejs" style="color: rgb(218, 160, 14); font-weight: bolder;">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login" style="color: rgb(231, 170, 17); font-weight: bolder;">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger btn-fill" href="cadastre" style="background-color: rgba(148, 5, 167, 0.39); border-color: rgba(148, 5, 167, 0.582);">Cadastre-se</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="../assets/imagem-site/usuario-do-circulo.png" alt="perfil">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">Meu Perfil</a>
                            <a class="dropdown-item" href="#">Sair</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <!-- Lado esquerdo com imagem (60%) -->
            <div class="col-6">
                <img style="padding-bottom: 10px; border-radius: 6px; margin-left: 30px;" src="../assets/img/illustrations/illustration-signup.jpg" class="img-fluid" alt="Imagem">
            </div>
            <!-- Lado direito com formulário (40%) -->
            <div class="col-6">
                <div id="form-container" class="p-4">
                    <h1>Cadastro</h1>
                    <div class="text-center mb-3 buttons-container">
                        <button id="cliente-button" class="botaocadastro custom-button">Contratante</button>
                        <button id="vendedor-button" class="botaocadastro custom-button">Músico</button>
                    </div>
                    <button id="voltar-button" class="btn btn-secondary" style="display: none;">Voltar</button>

                    <!-- Formulário do Contratante -->
                    <div id="cliente-form" class="form-section">
                        <h2>Informações do Contratante</h2>
                        <form id="form-cliente" action="/usuarios" method="post">
                            <div class="form-group">
                                <label for="nome_cliente" class="purple-input-label">Nome:</label>
                                <input type="text" name="nome" id="nome_cliente" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="idade_cliente" class="purple-input-label">Idade:</label>
                                <input type="number" name="idade" id="idade_cliente" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email_cliente" class="purple-input-label">E-mail:</label>
                                <input type="email" name="email" id="email_cliente" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="senha_cliente" class="purple-input-label">Senha:</label>
                                <input type="password" name="senha" id="senha_cliente" class="form-control">
                            </div>
                            <button type="button" id="submit-cliente-button" class="btn btn-primary" style="display: none;">Enviar</button>
                        </form>
                    </div>

                    <!-- Formulário do Músico -->
                    <div id="vendedor-form" class="form-section">
                        <h2>Informações do Músico</h2>
                        <form id="form-vendedor" action="/usuarios" method="post">
                            <div class="form-group">
                                <label for="nome_vendedor" class="purple-input-label">Nome artístico:</label>
                                <input type="text" name="nome" id="nome_vendedor" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="idade_vendedor" class="purple-input-label">Idade:</label>
                                <input type="number" name="idade" id="idade_vendedor" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email_vendedor" class="purple-input-label">E-mail:</label>
                                <input type="email" name="email" id="email_vendedor" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="senha_vendedor" class="purple-input-label">Senha:</label>
                                <input type="password" name="senha" id="senha_vendedor" class="form-control">
                            </div>
                            <button type="button" id="submit-vendedor-button" class="btn btn-primary" style="display: none;">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const clienteButton = document.getElementById('cliente-button');
            const vendedorButton = document.getElementById('vendedor-button');
            const voltarButton = document.getElementById('voltar-button');
            const clienteForm = document.getElementById('cliente-form');
            const vendedorForm = document.getElementById('vendedor-form');
            const submitClienteButton = document.getElementById('submit-cliente-button');
            const submitVendedorButton = document.getElementById('submit-vendedor-button');

    clienteButton.addEventListener('click', () => {
      toggleForm(clienteForm, vendedorForm, submitClienteButton, submitVendedorButton, voltarButton, clienteButton, vendedorButton);
    });

    vendedorButton.addEventListener('click', () => {
      toggleForm(vendedorForm, clienteForm, submitVendedorButton, submitClienteButton, voltarButton, vendedorButton, clienteButton);
    });

    voltarButton.addEventListener('click', () => {
      resetForms(submitClienteButton, submitVendedorButton, voltarButton, clienteButton, vendedorButton);
    });

    submitClienteButton.addEventListener('click', () => {
      submitForm('form-cliente');
    });

    submitVendedorButton.addEventListener('click', () => {
      submitForm('form-vendedor');
    });

    // Your existing scrollbar initialization code
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      };
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  });

  function toggleForm(activeForm, inactiveForm, activeButton, inactiveButton, backButton, hideButton, showButton) {
    activeForm.classList.add('active');
    inactiveForm.classList.remove('active');
    activeButton.style.display = 'block';
    inactiveButton.style.display = 'none';
    backButton.style.display = 'block';
    hideButton.style.display = 'none';
    showButton.style.display = 'none';
  }

  function resetForms(activeButton, inactiveButton, backButton, hideButton, showButton) {
    document.querySelectorAll('.form-section').forEach((form) => {
      form.classList.remove('active');
    });
    activeButton.style.display = 'none';
    inactiveButton.style.display = 'none';
    backButton.style.display = 'none';
    hideButton.style.display = 'block';
    showButton.style.display = 'block';
  }

  function submitForm(formId) {
    // Implemente a lógica para enviar o formulário aqui
    document.getElementById(formId).submit();
  }
</script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/material-dashboard.min.js?v=3.1.0"></script>
</body>

</html>