
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Musical Bridge</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../imagens-site/logo MB.png">

    <!-- Stylesheets -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/gaia.css" rel="stylesheet"/>
    <link href="../assets/css/uicons-bold-rounded.css" rel="stylesheet">
    <link href="../assets/css/rotating-card.css" rel="stylesheet" />
    <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:ital,wght@1,300&display=swap' rel='stylesheet'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <!-- Additional Styles -->
    <link rel="stylesheet" href="../assets/css/meucss.css">
    <style>
        body {
            margin-top: 100px;
            background-color: rgba(3, 5, 22, 0.445);
        }

        .centraliza {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            margin: 6px;
        }

        .navbar-brand {
            text-decoration: none;
        }

        .search-bar {
            display: flex;
            align-items: center;
            border-radius: 10px;
            width: 420px;
            padding: 5px;
            border-radius: 10px;
        }

        #search-input {
            border: none;
            flex: 1;
            padding: 10px;
            border-radius: 10px;
        }

        #search-button {
            border-color: #6a11bdee;
            padding: 5px;
            margin-left: 5px;
            border-radius: 55%;
            cursor: pointer;
        }

        .p1 {
            color: black;
            text-align: center;
            text-justify: auto;
            font-size: bolder;
            font-weight: 1.3em;
        }
    </style>
</head>
<body >
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" id="menu-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="color: rgb(218, 160, 14);" class="logo" href="home.ejs" class="navbar-brand">
                    Musical-Bridge
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right navbar-uppercase">
                    <li>
                        <a style="color: rgb(218, 160, 14); font-weight: bolder;" href="home.ejs">Home</a>
                    </li>
                <li>
                    <a style="color: rgb(218, 160, 14); font-weight: bolder;"  href="musicos.ejs">Musicos</a>
                </li>
                <li>
                    <a style="color: rgb(218, 160, 14); font-weight: bolder;" href="eventos.ejs">Eventos</a>
                </li>
                <li>
                    <a style="color: rgb(231, 170, 17); font-weight: bolder;" href="login">Entrar</a>
                </li>
                <li>
                    <a style="background-color: rgba(148, 5, 167, 0.39); border-color:rgba(148, 5, 167, 0.582) ;" href="cadastre" class="btn btn-danger btn-fill">Cadastre-se</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>  
<div class="centraliza">
    <div class="search-bar">
        <input type="text" placeholder="busque pelo gênero musical" id="search-input">
        <button id="search-button"><img src="../assets/imagem-site/lupa.png" alt=""></button>
    </div>

</div>
<section>
    <p class="p1">Busque pelo gênero musical que você procura na barra de pesquisa</p>
        <div class="col-sm-10 col-sm-offset-1">
         <div class="col-md-4 col-sm-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="assets/img/rotating_card_thumb2.png"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="assets/img/jeff do pagode.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Jeff do pagode</h3>
                                <p class="profession">Músico e compositor </p>
                                <p class="text-center">"Jeff do Pagode: mestre do ritmo e da emoção, encanta com sua voz envolvente
                                     e habilidade nos instrumentos. Sua música é poesia sonora que une e emociona."</p>
                            </div>
                            <div class="footer">
                                <i class="fa fa-mail-forward"></i> Auto Rotation
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Jeff conduz seu público por uma jornada musical repleta de energia e paixão."</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Músico e compositor</h4>
                                <p class="text-center">Com sua autenticidade e talento incomparável, Jeff do Pagode é uma verdadeira inspiração para os amantes da música em todo lugar.</p>

                                <div class="stats-container">
                                    <div class="stats">
                                        <h4>5235</h4>
                                        <p>
                                            Followers
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4>2114</h4>
                                        <p>
                                            Following
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4>+ de 5Mi </h4>
                                        <p>
                                            Views
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->
        <div class="col-md-4 col-sm-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="assets/img/rotating_card_thumb.png"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="assets/img/mariadabossa.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Maria da Bossa</h3>
                                <p class="profession">Cantora </p>
                                <p class="text-center">" Uma artista refinada que domina a arte da Bossa Nova, <br>Maria hipnotiza com sua voz suave e interpretações emotivas, 
                                     <br>transportando o público para as praias do Rio de Janeiro com cada acorde."</p>
                            </div>
                           
                            <div class="footer">
                                <i class="fa fa-mail-forward"></i> Auto Rotation
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Uma artista refinada que domina a arte da Bossa Nova, "</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Maria da Bossa: </h4>
                                <p class="text-center">Maria hipnotiza com sua voz suave e interpretações emotivas, 
                                    transportando o público para as praias do Rio de Janeiro com cada acorde.</p>

                                <div class="stats-container">
                                    <div class="stats">
                                        <h4>4235</h4>
                                        <p>
                                            Followers
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4>5114</h4>
                                        <p>
                                            Following
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4>35k</h4>
                                        <p>
                                            Views
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                            <div class="social-links text-center">
                                <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->
        <div class="col-md-4 col-sm-6">
            <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="assets/img/rotating_card_thumb3.png"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="assets/img/sollbrasileiro.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Banda Soul Brasileiro</h3>
                                <p class="profession">Banda</p>

                                <p class="text-center">"Uma fusão de talentos e estilos, esta banda é uma jornada musical que mescla funk, 
                                    <br>jazz e influências regionais em um caldeirão sonoro único, 
                                    <br>onde a alma brasileira se manifesta em grooves irresistíveis e improvisações arrebatadoras."</p>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <i class="fa fa-mail-forward"></i> Auto Rotation
                                </div>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Uma fusão de talentos e estilos, uma mescla de funk, 
                                <br>jazz e influências regionais em um caldeirão sonoro único"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Banda</h4>
                                <p class="text-center"></p>

                                <div class="stats-container">
                                    <div class="stats">
                                        <h4>12k</h4>
                                        <p>
                                            Followers
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4>10k</h4>
                                        <p>
                                            Following
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4>12MI</h4>
                                        <p>
                                            Views
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col-sm-3 -->
        </div> <!-- end col-sm-10 -->
        
    </div> <!-- end row -->
 
    <div class="col-sm-10 col-sm-offset-1">
        <div class="col-md-4 col-sm-6">
            <div class="card-container">
               <div class="card">
                   <div class="front">
                       <div class="cover">
                           <img src="assets/img/rotating_card_thumb2.png"/>
                       </div>
                       <div class="user">
                           <img class="img-circle" src="assets/img/rotating_card_profile3.png"/>
                       </div>
                       <div class="content">
                           <div class="main">
                               <h3 class="name">John Marvel</h3>
                               <p class="profession">CEO</p>
                               <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                           </div>
                           <div class="footer">
                               <i class="fa fa-mail-forward"></i> Auto Rotation
                           </div>
                       </div>
                   </div> <!-- end front panel -->
                   <div class="back">
                       <div class="header">
                           <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                       </div>
                       <div class="content">
                           <div class="main">
                               <h4 class="text-center">Job Description</h4>
                               <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                               <div class="stats-container">
                                   <div class="stats">
                                       <h4>235</h4>
                                       <p>
                                           Followers
                                       </p>
                                   </div>
                                   <div class="stats">
                                       <h4>114</h4>
                                       <p>
                                           Following
                                       </p>
                                   </div>
                                   <div class="stats">
                                       <h4>35</h4>
                                       <p>
                                           Projects
                                       </p>
                                   </div>
                               </div>

                           </div>
                       </div>
                       <div class="footer">
                           <div class="social-links text-center">
                               <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                               <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                               <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                           </div>
                       </div>
                   </div> <!-- end back panel -->
               </div> <!-- end card -->
           </div> <!-- end card-container -->
       </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->
       <div class="col-md-4 col-sm-6">
            <div class="card-container">
               <div class="card">
                   <div class="front">
                       <div class="cover">
                           <img src="assets/img/rotating_card_thumb.png"/>
                       </div>
                       <div class="user">
                           <img class="img-circle" src="assets/img/rotating_card_profile2.png"/>
                       </div>
                       <div class="content">
                           <div class="main">
                               <h3 class="name">Andrew Mike</h3>
                               <p class="profession">Web Developer</p>
                               <p class="text-center">"Lamborghini Mercy <br>Your chick she so thirsty <br>I'm in that two seat Lambo"</p>
                           </div>
                           <div class="footer">
                               <button class="btn btn-simple" onclick="rotateCard(this)">
                                   <i class="fa fa-mail-forward"></i> Manual Rotation
                               </button>
                           </div>
                       </div>
                   </div> <!-- end front panel -->
                   <div class="back">
                       <div class="header">
                           <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                       </div>
                       <div class="content">
                           <div class="main">
                               <h4 class="text-center">Job Description</h4>
                               <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                               <div class="stats-container">
                                   <div class="stats">
                                       <h4>235</h4>
                                       <p>
                                           Followers
                                       </p>
                                   </div>
                                   <div class="stats">
                                       <h4>114</h4>
                                       <p>
                                           Following
                                       </p>
                                   </div>
                                   <div class="stats">
                                       <h4>35</h4>
                                       <p>
                                           Projects
                                       </p>
                                   </div>
                               </div>

                           </div>
                       </div>
                       <div class="footer">
                           <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                               <i class="fa fa-reply"></i> Back
                           </button>
                           <div class="social-links text-center">
                               <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                               <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                               <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                           </div>
                       </div>
                   </div> <!-- end back panel -->
               </div> <!-- end card -->
           </div> <!-- end card-container -->
       </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->
       <div class="col-md-4 col-sm-6">
           <div class="card-container">
               <div class="card">
                   <div class="front">
                       <div class="cover">
                           <img src="assets/img/rotating_card_thumb3.png"/>
                       </div>
                       <div class="user">
                           <img class="img-circle" src="assets/img/rotating_card_profile.png"/>
                       </div>
                       <div class="content">
                           <div class="main">
                               <h3 class="name">Inna Corman</h3>
                               <p class="profession">Product Manager</p>

                               <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                           </div>
                           <div class="footer">
                               <div class="rating">
                                   <i class="fa fa-mail-forward"></i> Auto Rotation
                               </div>
                           </div>
                       </div>
                   </div> <!-- end front panel -->
                   <div class="back">
                       <div class="header">
                           <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                       </div>
                       <div class="content">
                           <div class="main">
                               <h4 class="text-center">Job Description</h4>
                               <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                               <div class="stats-container">
                                   <div class="stats">
                                       <h4>235</h4>
                                       <p>
                                           Followers
                                       </p>
                                   </div>
                                   <div class="stats">
                                       <h4>114</h4>
                                       <p>
                                           Following
                                       </p>
                                   </div>
                                   <div class="stats">
                                       <h4>35</h4>
                                       <p>
                                           Projects
                                       </p>
                                   </div>
                               </div>

                           </div>
                       </div>
                       <div class="footer">
                           <div class="social-links text-center">
                               <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                               <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                               <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                           </div>
                       </div>
                   </div> <!-- end back panel -->
               </div> <!-- end card -->
           </div> <!-- end card-container -->
       </div> <!-- end col-sm-3 -->
       </div> <!-- end col-sm-10 -->
   </div> <!-- end row -->
   <div class="space-200"></div>
</div>
<div class="space-200"></div>
</div>
<div class="white-board">
   <div class="container">
        <br>
        <div class="space-50"></div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
</section>

<footer class="footer footer-big footer-color-black" data-color="black">    
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-sm-3">
                <div class="info">
                    <h5 class="title">Links Rápidos</h5>
                    <nav>
                        <ul>
                            <li><a style="font-weight: bold; color: aliceblue;" href="home.ejs">Home</a></li>
                            <li><a style="font-weight: bold; color: aliceblue;" href="musicos.ejs">Músicos</a></li>
                            <li><a style="font-weight: bold; color: aliceblue;" href="eventos.ejs">Eventos</a></li>
                            <li><a style="font-weight: bold; color: aliceblue;" href="login">Cadastre-se</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Sobre a Empresa</h5>
                    <nav>
                        <ul>
                            <li><a style="font-weight: bold; color: aliceblue;" href="sobre.ejs">Sobre nós</a></li>
                            <li><a style="font-weight: bold; color: aliceblue;" href="#">Contato</a></li>
                            <li><a style="font-weight: bold; color: aliceblue;" href="#">Termos &amp; Condições</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <!-- Espaço vazio (conforme original) -->
            </div>
            <div class="col-md-2 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Redes Sociais</h5>
                    <nav>
                        <ul>
                            <li><a href="#" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                            <li><a href="#" class="btn btn-social btn-dribbble btn-simple"><i class="fa fa-dribbble"></i> Dribbble</a></li>
                            <li><a href="#" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><a href="#" class="btn btn-social btn-reddit btn-simple"><i class="fa fa-google-plus-square"></i> Google+</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">
             © <script> document.write(new Date().getFullYear()) </script> Musical-Bridge, feito para você
        </div>
    </div>
</footer>

<!-- JavaScript Files -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/run_prettify.js"></script>
<script src="assets/js/modernizr.js"></script>

<!-- Custom Scripts -->
<script>
    $().ready(function(){
        $('[rel="tooltip"]').tooltip();

        $('a.scroll-down').click(function(e){
            e.preventDefault();
            scroll_target = $(this).data('href');
            $('html, body').animate({
                scrollTop: $(scroll_target).offset().top - 60
            }, 1000);
        });
    });

    function rotateCard(btn){
        var $card = $(btn).closest('.card-container');
        if($card.hasClass('hover')){
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        var menuToggle = document.getElementById("menu-toggle");
        var navbarCollapse = document.getElementById("myNavbar");

        menuToggle.addEventListener("click", function () {
            if (navbarCollapse.classList.contains("in")) {
                navbarCollapse.classList.remove("in");
            } else {
                navbarCollapse.classList.add("in");
            }
            console.log("Menu toggle clicked.");
        });
    });
</script>
</body>
</html>
